.features .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 1.5rem;
}

.features .box-container .box {
    padding: 3rem 2rem;
    background: var(--color-white);
    outline: var(--outline);
    outline-offset: -1rem;
    text-align: center;
    box-shadow: var(--box-shadow);
}

.features .box-container .box:hover {
    outline: var(--outline-hover);
    outline-offset: 0;
}

.features .box-container .box img {
    margin: 1rem 0;
    height: 15rem;
}

.features .box-container .box h3 {
    font-size: 2.5rem;
    line-height: 1.8rem;
    color: var(--black);
}

.features .box-container .box p {
    font-size: 1.5rem;
    line-height: 1.8rem;
    color: var(--ight-color);
    padding: 2rem 0;
}