/* banner */
.banner-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 1.5rem;
    padding-top: 5rem;
}

.banner-container .banner {
    position: relative;
    height: 25rem;
    overflow: hidden;
    border-radius: .5rem;
    box-shadow: var(--box-shadow);
}

.banner-container .banner img {
    height: 100%;
    width: 125%;
    object-fit: cover;
}

.banner-container .banner img:hover {
    transform: scale(1.2);
}

.banner-container .banner .content {
    position: absolute;
    top: 50%;
    left: 2rem;
    transform: translateY(-50%);
}

.banner-container .banner .content span {
    color: #666;
    font-size: 1.5rem;
}

.banner-container .banner .content h3 {
    font-size: 2.8rem;
    padding-top: .5rem;
    color: var(--black);
}

.banner-container .banner .content .btn {
    padding: .8rem 2.5rem;
}

/* end */