@import url('https://fonts.googleapis.com/css2?family=Arimo:wght@600&family=Poppins:wght@100;300;400;500;600&family=Roboto+Slab:wght@200;500&family=Roboto:wght@300&display=swap');

:root {
  --color-bg: #ff7800;
  --color-hover: #3bb77e;
  --black: #130f40;
  --ight-color: #666;
  --bg: #fbf5ea;
  --color-white: #fff;
  --box-shadow: 0 .5rem 1.5rem rgba(0, 0, 0, .1);
  --border: .2rem solid rgba(0, 0, 0, .1);
  --outline: .1rem solid rgba(0, 0, 0, .1);
  --outline-hover: .2rem solid var(--black);
}


* {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-transform: capitalize;
  transition: all .2s linear;
}

html::-webkit-scrollbar {
  width: .8rem;
}

html::-webkit-scrollbar-track {
  background: transparent;
}

html::-webkit-scrollbar-thumb {
  background: var(--color-bg);
  border-radius: 5rem;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  scroll-padding-top: 7rem;
}

a {
  text-decoration: none;
}

.btn {
  margin-top: 1rem;
  display: inline-block;
  padding: .8rem 3rem;
  font-size: 1.7rem;
  color: #fff;
  border-radius: .5rem;
  background: var(--color-bg);
  cursor: pointer;
}

.btn:hover {
  background: var(--color-hover);
  color: #fff;
}

body {
  background: #eee;
}

section {
  padding: 2rem 9%;
}