.products .product-slider {
    padding: 1rem;
}

.products .product-slider:first-child {
    margin-bottom: 2rem;
}

.products .product-slider .box {
    background: var(--color-white);
    overflow: hidden;
    border-radius: .5rem;
    text-align: center;
    padding: 3rem 2rem;
    outline-offset: -1rem;
    outline: var(--outline);
    box-shadow: var(--box-shadow);
    transition: .2s linear;
}

.products .product-slider .box img {
    height: 15rem;
}

.products .product-slider .box .discount {
    position: absolute;
    top: 1rem;
    left: 1rem;
    background: var(--color-bg);
    color: var(--color-white);
    padding: .7rem 1rem;
    font-size: 1.2rem;
    padding-bottom: .5rem;
}

.products .product-slider .box .icons {
    position: absolute;
    top: .5rem;
    right: -6rem;
}

.products .product-slider .box .icons a {
    display: block;
    height: 4.5rem;
    width: 4.5rem;
    line-height: 4.5rem;
    font-size: 1.7rem;
    color: var(--black);
    background: rgba(0, 0, 0, .05);
    border-radius: 50%;
    margin-top: .7rem;
}

.products .product-slider .box:hover .icons {
    right: 1rem;
}

.products .product-slider .box .icons a:hover {
    background: var(--color-bg);
    color: var(--color-white);
}

.products .product-slider .box:hover {
    outline-offset: 0rem;
    outline: var(--outline-hover);
}


.products .product-slider .box h3 {
    color: var(--black);
    font-size: 2.5rem;
}

.products .product-slider .box .stars i {
    padding: 1rem .1rem;
    font-size: 1.7rem;
    color: gold;
}

.products .product-slider .box .price {
    font-size: 2rem;
    color: #333;
    padding: .5rem 0;
}

.products .product-slider .box .price span {
    font-size: 1.5rem;
    color: #999;
    text-decoration: line-through;
}

.products .product-slider .box .quantity {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 1rem;
    padding-bottom: .5rem;
}

.products .product-slider .box .quantity span {
    padding: 0 .7rem;
    font-size: 1.7rem;
}

.products .product-slider .box .quantity input {
    border: .1rem solid rgba(0, 0, 0, .3);
    font-size: 1.5rem;
    font-weight: bolder;
    text-align: center;
    color: var(--black);
    padding: .5rem;
    background: rgba(0, 0, 0, .05);
}

.products .product-slider .box .a {
    display: block;
    width: 100%;
    border: none;
    cursor: pointer;
    text-align: center;
}